<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notícias</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="display-3">Listagem de notícias</h1>
      <% if (error) { %>
      <div class="alert alter-warning" role="alert"></div>
      <% } else { %>
      <ul class="list-group list-group-flush">
        <% for (let i = 0; i < noticias.length; i++) { %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <h5><%= noticias[i].titulo %></h5>
          </div>
          <p><%= noticias[i].noticia.slice(0, 110) + '...' %></p>
          <small class="text-muted"> <%= noticias[i].data_criacao %> </small>
        </li>
        <% } %>
      </ul>
      <% } %>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
